/* Root */
.chart
{
    -fx-background-color: transparent;
	-fx-border-image-source: url("../borders/standardCorners.png");
	-fx-border-image-width: 50px;
	-fx-border-image-slice: 50px;
}

.chart-legend
{
    -fx-background-color: transparent;
}

.chart-plot-background
{
    -fx-background-color: transparent;
}

.chart-series-line
{
    -fx-stroke-width: 2px;
}

.chart-horizontal-grid-lines
{
    -fx-stroke: transparent;
}

.chart-vertical-grid-lines
{
    -fx-stroke: transparent;
}

.axis:left
{
    -fx-tick-label-fill: -fx-palette-ghost-white;
    -fx-font-family: 'Stellar';
    -fx-minor-tick-visible: false;
    -fx-border-color: transparent -fx-palette-ghost-white transparent transparent;
}

.axis:left .axis-tick-mark
{
    -fx-stroke: -fx-palette-ghost-white;
}

.axis:bottom
{
    -fx-tick-label-fill: -fx-palette-ghost-white;
    -fx-font-family: 'Stellar';
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-border-color: -fx-palette-ghost-white transparent transparent transparent;
}

.axis:bottom .axis-tick-mark
{
    -fx-stroke: -fx-palette-ghost-white;
}

.axis-label
{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

/* Candlestick */
.candlestick-line.close-above-open
{
    -fx-stroke: -fx-palette-robin-egg-blue;
    -fx-effect: dropshadow(gaussian, -fx-palette-robin-egg-blue, 8, 0.3, 0, 0);
}

.candlestick-line.open-above-close
{
    -fx-stroke: -fx-palette-orange;
    -fx-effect: dropshadow(gaussian, -fx-palette-orange, 8, 0.3, 0, 0);
}

.candlestick-body.close-above-open
{
    -fx-background-color: -fx-palette-robin-egg-blue;
    -fx-effect: dropshadow(gaussian, -fx-palette-robin-egg-blue, 8, 0.3, 0, 0);
}

.candlestick-body.open-above-close
{
    -fx-background-color: -fx-palette-orange;
    -fx-effect: dropshadow(gaussian, -fx-palette-orange, 8, 0.3, 0, 0);
}