/*****************************************
*
* Stylesheet for the draggable node
*
*****************************************/
@import "Colors.css"
@import "Fonts.css"
@import "BaseLabel.css"

/* root */
.rootPane
{
    -fx-background-color: transparent;
    -fx-border-color: -fx-palette-ghost-white;
    -fx-border-width: 2px;
}

/* root box */
.rootBox
{
    -fx-padding: 5px;
    -fx-spacing: 5px;
    -fx-border-color: -fx-palette-ghost-white;
    -fx-border-width: 0 0 2 0;
}

/* Close Button */
.button
{
    -fx-background-color: transparent;
    -fx-font-size: 10pt;
    -fx-font-family: 'Elianto';
    -fx-text-fill: -fx-palette-ghost-white;
}

.button:hover
{
    -fx-background-color: transparent;
    -fx-font-size: 10pt;
    -fx-font-family: 'Elianto';
    -fx-text-fill: -fx-palette-ghost-white;
    -fx-effect: dropshadow(gaussian, -fx-palette-orange, 8, 0.3, 0, 0);
}