/*****************************************
*
* Stylesheet for the NeuralNetwork view
*
*****************************************/
@import "Colors.css"
@import "Fonts.css"
@import "Link.css"
@import "BaseListView.css"

/* root */
.root
{
    -fx-padding: 10px;
}

/* Tab */
.tab-down-button
{
    -fx-padding: 0;
}

.tab-down-button .arrow
{
    -fx-padding: 0;
}