/*****************************************
*
* Stylesheet for the server info view
*
*****************************************/
@import "Colors.css"
@import "Fonts.css"

/* Root */
.root
{
	-fx-background-color: -fx-palette-fogra39;
}

/* Root layout */
.rootLayout
{
	-fx-background-color: -fx-palette-fogra39;
}

/* Labels */
.label
{
    -fx-font-size: 10pt;
    -fx-text-fill: -fx-palette-ghost-white;
    -fx-font-family: 'Stellar';
}